.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: background-color 0.3s ease;
  padding: 0;
}

.popup-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 1.5rem;
  border-radius: 4px;
  text-align: center;
  transform: scale(0.9);
  transition: transform 0.3s ease;
  gap: 1rem;
}

.popup-content h2 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #333;
  line-height: 1;
  transition: all 0.3s ease-in-out;
}

.popup-content p {
  font-size: 1rem;
  color: #555;
}

.popup-content:hover {
  transform: scale(1);
}

.popup-buttons {
  gap: 1rem;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.popup-button {
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  color: white;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.popup-button.btn1 {
  background-color: var(--primary-color);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  color: white;
  transition: all 0.3s ease-in-out;
}

.popup-button.btn1:hover {
  background-color: var(--primary-hover);
  transform: scale(1.05);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.popup-button.btn2 {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.popup-button.btn2:hover {
  border: 1px solid var(--primary-hover);
  color: var(--primary-hover);
  transform: scale(1.05);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.popup-button.btn1:active,
.popup-button.btn2:active {
  transform: scale(0.95);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
