.user-card-container {
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  /* margin: 1rem; */
  padding: 1rem;
  background-color: #fff;
  position: relative;
  width: 250px;
  height: 350px;
  margin: 0 auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.user-card-container:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0.5rem auto;
}

.user-card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.username {
  font-size: 1rem;
  font-weight: bold;
}

.name {
  font-size: 0.875rem;
}

.email {
  font-size: 0.875rem;
}

.joined {
  font-size: 0.75rem;
  color: #555;
}

/* .bio {
  font-size: 0.875rem;
  color: #333;
} */

.user-card-container .role {
  width: 4rem;
  color: #000;
  font-size: 0.675rem;
  padding: 0.25rem;
  border-radius: 10px;
  text-align: center;
}

.user-card-container .role.user {
  background-color: #e0ffcc;
}

.user-card-container .role.admin {
  background-color: #f4c1c1;
  background-color: #fde0e0;
}

.user-card-container .action-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 0.5rem;
  margin-top: 0.5rem;
  justify-content: center;
}

.make-admin-button,
.remove-admin-button {
  border: 0.5px solid var(--primary-color);
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.5rem;
  color: #fff;
  color: var(--primary-color);
  padding: 0.5rem;
  background-color: #fff;
  font-weight: 500;
}

.make-admin-button:hover {
  color: var(--hover);
  border: 0.5px solid var(--hover);
}

.remove-admin-button {
  color: darkred;
  border: 0.5px solid darkred;
}

.remove-admin-button:hover {
  color: red;
  border: 0.5px solid red;
}

.user-card-container .delete-button {
  font-size: 0.5rem;
  padding: 0.5rem;
  background-color: transparent;
  color: red;
  border: 0.5px solid red;
  border-radius: 4px;
  cursor: pointer;
}
