.forgotPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forgotPassword form {
  width: 100vw;
  height: auto;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Ensure relative positioning for the messages */
}

.forgotPassword h2 {
  margin-bottom: 3rem;
  color: #333;
  font-size: 1.8rem;
}

.forgotPassword label {
  margin-bottom: 1rem;
  color: #555;
  font-size: 1.6rem;
}

.forgotPassword input[type="text"],
.forgotPassword input[type="email"],
.forgotPassword input[type="password"] {
  width: 100%;
  height: 3.5rem;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.forgotPassword button {
  min-width: 12rem;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgotPassword button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.forgotPassword button:hover:enabled {
  background-color: darkgreen;
}

.forgotPassword .security-question {
  font-size: 2rem;
  color: #555;
}

/* Absolute positioning for error and success messages */
.error-message,
.success-message {
  position: absolute;
  top: 8rem; /* Adjust as needed to position correctly */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.password-field {
  position: relative;
  width: 100%;
}

.password-field input {
  width: calc(
    100% - 50px
  ); /* Adjust width to make space for the toggle button */
  padding-right: 50px; /* Ensure padding-right to accommodate the toggle button */
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #007bff;
  font-size: 1rem;
  cursor: pointer;
}

.toggle-password:focus {
  outline: none;
}

.forgotpassword-logo {
  position: absolute;
  top: 0.5%;
  left: 1%;
  color: #000;
  cursor: pointer;
  font-size: 3.2rem;
  letter-spacing: 1px;
}
