.forgotPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forgotPassword form {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  min-width: 300px;
  max-width: 700px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.forgotPassword h2 {
  margin-bottom: 2rem;
  color: #333;
  font-size: 1rem;
  font-weight: 400;
}

.forgotPassword label {
  margin-bottom: 1rem;
  color: #555;
  font-size: 0.875rem;
}

.forgotPassword input[type="text"],
.forgotPassword input[type="email"],
.forgotPassword input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

/* .forgotPassword button {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgotPassword button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.forgotPassword button:hover:enabled {
  background-color: var(--hover);
} */

.forgotPassword .security-question {
  font-size: 0.875rem;
  color: #555;
  text-align: center;
}

.forgotPassword .error-message,
.forgotPassword .success-message {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;
  font-size: 0.625rem;
}

.error-message {
  color: var(--red-color);
}

.success-message {
  color: black;
  background-color: var(--secondary-color);
  padding: 0.5rem 1rem;
}

.password-field {
  position: relative;
  width: 100%;
}

.password-field input {
  width: calc(100% - 50px);
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 0.75rem;
  cursor: pointer;
  color: var(--primary-color);
  color: #555;
  margin-top: 0.5rem;
}

.toggle-password:focus {
  outline: none;
}

.forgotpassword-logo {
  position: absolute;
  top: 0.5%;
  left: 1%;
  color: #000;
  cursor: pointer;
  font-size: 2rem;
  letter-spacing: 1px;
}
