.loginSignup-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginSignup-background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(40%);
}

.loginSignup-form-container {
  position: relative;
  width: 56.25rem;
  height: 34.375rem;
  display: flex;
  overflow: hidden;
  border-radius: 4px;
  border: 5px solid white;
  box-sizing: border-box;
}

.loginSignup-form-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

.loginSignup-overlay {
  position: absolute;
  width: 28.125rem;
  height: 34.375rem;
  top: 0;
  left: 28.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: transform 1s ease-in-out;
}

.loginSignup-overlay-content {
  text-align: center;
  padding: 1rem;
}

.loginSignup-overlay-content .overlay-line-1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #e0fccc;
  /* color: green; */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  letter-spacing: 0.5px;
}

.loginSignup-overlay-content .overlay-line-2 {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  margin: 0 3.5rem;
}

.loginSignup-overlay-content button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 2rem;
  border: 1.5px solid green;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.loginSignup-overlay-content button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.loginSignup-overlay-content button:active {
  transform: scale(0.95);
}

.loginSignup-forms {
  display: flex;
  width: 100%;
  height: 100%;
}

.loginSignup-login-form,
.loginSignup-signup-form {
  width: 50%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.loginSignup-login-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255);
}

.loginSignup-login-form h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
  font-weight: 500;
}

.loginSignup-login-form .loginSignup-form-group {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  width: 100%;
}

.loginSignup-login-form input {
  border-radius: 4px;
  border: 1px solid #555;
  font-size: 1rem;
  height: 2rem;
  padding: 1rem;
}

.loginSignup-login-form label {
  color: #333;
  font-size: 1rem;
}

.loginSignup-forgot-password {
  color: #555;
  font-size: 1rem;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.loginSignup-auth-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: green;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.loginSignup-auth-btn.signup {
  margin-top: 0.5rem;
}

.loginSignup-signup-form {
  background: rgba(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1rem;
}

.loginSignup-signup-form .loginSignup-form-group {
  width: 100%;
}

.loginSignup-signup-form .loginSignup-first-last {
  display: grid;
  gap: 1rem;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
}

.loginSignup-signup-form h2 {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  margin-bottom: 1rem;
}

.loginSignup-signup-form input {
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #777;
  color: #000;
  height: 2rem;
  width: 100%;
  padding: 0.5rem;
}

.loginSignup-signup-form select {
  width: 100%;
  border-radius: 4px;
  height: 2rem;
  font-size: 0.75rem;
  border: 1px solid #555;
  color: #000;
}

.loginSignup-signup-form option {
  font-size: 1rem;
}

.loginSignup-signup-form option:nth-child(1) {
  font-size: 1rem;
  color: #555;
  pointer-events: none;
}

.loginSignup-signup-form label {
  font-size: 0.75rem;
  color: #333;
}

.loginSignup-security-first-last {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 0.5fr;
}

.loginSignup-overlay.login {
  transform: translateX(0);
  border-left: 5px solid white;
  animation: fadeOutIn 2s ease-in-out;
}

.loginSignup-overlay.login video {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.loginSignup-overlay.signup {
  transform: translateX(-451px);
  border-right: 5px solid white;
  animation: fadeOutIn 2s ease-in-out;
}

.loginSignup-overlay video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(40%);
}

.signup-logo {
  position: absolute;
  top: 0.5%;
  left: 1%;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  letter-spacing: 1px;
}

/* .loginSignup-signup-form .loginSignup-auth-btn {
  width: 12rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: green;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
} */

.loginSignup-auth-btn:hover {
  transform: scale(1.05);
  background-color: darkgreen;
}

.loginSignup-auth-btn:active {
  transform: scale(0.95);
}

.loginSignup-error-message {
  color: red;
  font-size: 1rem;
}

.loginSignup-error-message.login {
  color: red;
  font-size: 1rem;
}

.loginSignup-error-message.signup-top {
  position: absolute;
  font-size: 1rem;
  color: red;
  top: 15%;
}

/* Username availability status */
.loginSignup-username-status {
  font-size: 1rem;
}

.loginSignup-username-status.available {
  color: green;
}

.loginSignup-username-status.unavailable {
  color: red;
}

.loginSignup-password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.loginSignup-password-container input {
  width: 100%;
  padding-right: 60px;
}

.loginSignup-toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #333;
  font-size: 0.75rem;
}

.forgot-password {
  font-size: 14px;
  color: #444;
  margin-top: 2rem;
  margin-bottom: 15px;
  text-align: center;
}
