/* * {
  color: #000;
  font-family: "Poppins", sans-serif;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  background: transparent;
}

.login-logo {
  font-size: 28px;
}

.login-header .login-nav {
  display: none;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0.5rem;
}

.login-nav a {
  font-size: 1.1rem;
}

.login-signin {
  display: none;
}

.auth {
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
 
  background-size: cover;
  top: 0;
  overflow: hidden;
}

.auth-container {
  position: relative;
  width: 950px;
  height: 500px;
  background: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  display: flex;
  transition: all 0.6s ease-in-out;
  border-radius: 10px;
}

.auth-form {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease-in-out;
  padding: 20px;
}

.signin-btn {
  color: white;
  background-color: orange;
  border: 1px solid white;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: 500;
  margin-top: 5px;
}

.signin-btn:hover {
  background-color: rgb(229, 149, 1);
}

.auth-container.sign-in-mode .auth-form.sign-in-form {
  left: 0;
}

.auth-container.sign-in-mode .overlay-container {
  transform: translateX(100%);
}

.auth-container.sign-up-mode .auth-form.sign-up-form {
  right: 0;
}

.auth-container.sign-up-mode .overlay-container {
  transform: translateX(-100%);
}

.auth-form h2 {
  color: #3f3f3f;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 24px;
}

.form-group {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-size: 14px;
}

.form-group input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #444;
  font-size: 14px;
}

.first-last {
  display: flex;
  justify-content: space-between;
}

.forgot-password {
  font-size: 14px;
  color: #444;
  margin-bottom: 15px;
}

.auth-btn {
  margin-top: 15px;
  padding: 4px 10px;
  border: none;
  border: 1px solid orange;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 1.2rem;
  font-weight: 500;
  background: transparent;
}

.auth-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

.overlay-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  transition: all 0.6s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay-right {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.overlay-left {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.overlay-panel {
  background: url("./bg-beach.jpg");
  background-size: cover;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  text-align: center;
  height: 100%;
  z-index: 5;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 100%;
  gap: 15px;
}

.overlay h2 {
  font-size: 2.2rem;
  color: rgb(255, 187, 61);
}

.overlay p {
  font-size: 1.1rem;
  color: #fffb;
}

.auth-container.sign-up-mode .overlay-right {
  transform: translateX(100%);
}

.auth-container.sign-in-mode .overlay-right {
  transform: translateX(100%);
}

.message {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  width: 80%;
  text-align: center;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.username-status-message {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.username-status-message.available {
  color: green;
}

.username-status-message.taken {
  color: red;
}

.username-status-message.error {
  color: red;
}

.error-message {
  color: red;
  font-size: 0.9rem;
}

.backgroud-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* * {
  font-size: 62.5%;
  box-sizing: border-box;
  color: #000;
}


.app-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(40%);
}


.form-container {
  position: relative;
  width: 90rem;
  height: 50rem;
  display: flex;
  overflow: hidden; 
  border-radius: 10px;
  border: 5px solid white;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  width: 45rem;
  height: 50rem;
  top: 0;
  left: 451px; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; 
  transition: transform 1s ease-in-out;
}

.overlay-content {
  text-align: center;
  padding: 2rem;
}

.overlay-content .overlay-line-1 {
  margin-bottom: 2rem;
  font-size: 4rem;
  color: #83f806;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.5px;
}

.overlay-content .overlay-line-2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: rgb(255, 255, 255, 0.6);

  font-weight: 400;
  margin: 0 3.5rem;
}

.overlay-content button {
  width: 12rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 2.1rem;
  margin-top: 4rem;
  border: 1.5px solid #83f806;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.overlay-content button:hover {
  background-color: rgb(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.overlay-content button:active {
  transform: scale(0.95);
}

.forms {
  display: flex;
  width: 100%;
  height: 100%;
}


.login-form,
.signup-form {
  width: 50%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.login-form {
  background: rgba(255, 255, 255);
}

.signup-form {
  background: rgba(255, 255, 255);
}


.overlay.login {
  transform: translateX(0);
  border-left: 5px solid white;
}

.overlay.login video {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.overlay.signup {
  transform: translateX(-451px);
  border-right: 5px solid white; 
}

.overlay video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
  filter: brightness(70%);
}

.signup-logo {
  position: absolute;
  top: 0.5%;
  left: 1%;
  color: #fff;
  cursor: pointer;
  font-size: 3.2rem;
  letter-spacing: 1px;
}

.message {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  width: 80%;
  text-align: center;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.username-status-message {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.username-status-message.available {
  color: green;
}

.username-status-message.taken {
  color: red;
}

.username-status-message.error {
  color: red;
}

.error-message {
  color: red;
  font-size: 0.9rem;
} */

* {
  font-size: 62.5%;
  box-sizing: border-box;
  color: #000;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.loginSignup-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginSignup-background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(40%);
}

.loginSignup-form-container {
  position: relative;
  width: 90rem;
  height: 55rem;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  border: 5px solid white;
  box-sizing: border-box;
}

.loginSignup-form-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.loginSignup-overlay {
  position: absolute;
  width: 45rem;
  height: 55rem;
  top: 0;
  left: 45.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: transform 1s ease-in-out;
}

.loginSignup-overlay-content {
  text-align: center;
  padding: 2rem;
}

.loginSignup-overlay-content .overlay-line-1 {
  margin-bottom: 2rem;
  font-size: 4rem;
  color: #83f806;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.5px;
}

.loginSignup-overlay-content .overlay-line-2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  margin: 0 3.5rem;
}

.loginSignup-overlay-content button {
  width: 12rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  margin-top: 4rem;
  border: 1.5px solid #83f806;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.loginSignup-overlay-content button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.loginSignup-overlay-content button:active {
  transform: scale(0.95);
}

.loginSignup-forms {
  display: flex;
  width: 100%;
  height: 100%;
}

.loginSignup-login-form,
.loginSignup-signup-form {
  width: 50%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.loginSignup-login-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255);
}

.loginSignup-login-form h2 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
  color: #333;
  font-weight: 500;
}

.loginSignup-login-form .loginSignup-form-group {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 0 3rem;
  width: 100%;
}

.loginSignup-login-form input {
  border-radius: 10px;
  border: 1px solid #555;
  font-size: 1.5rem;
  height: 3.5rem;
  padding: 1rem;
}

.loginSignup-login-form label {
  color: #333;
  font-size: 1.5rem;
}

.loginSignup-forgot-password {
  color: #555;
  font-size: 1.5rem;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.loginSignup-auth-btn {
  width: 12rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: #83f806;
  color: #fff;
  color: #000;
  cursor: pointer;
  font-size: 2rem;
  margin-top: 4rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.loginSignup-auth-btn.signup {
  margin-top: 0.5rem;
}

.loginSignup-signup-form {
  background: rgba(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2.5rem;
}

.loginSignup-signup-form .loginSignup-form-group {
  width: 100%;
}

.loginSignup-signup-form .loginSignup-first-last {
  display: grid;
  gap: 1rem;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
}

.loginSignup-signup-form h2 {
  font-size: 2.5rem;
  color: #333;
  font-weight: 500;
  margin-bottom: 1rem;
}

.loginSignup-signup-form input {
  font-size: 1.4rem;
  border-radius: 10px;
  border: 1px solid #777;
  color: #000;
  height: 3rem;
  width: 100%;
  padding: 0.5rem;
}

.loginSignup-signup-form select {
  width: 100%;
  border-radius: 10px;
  height: 3rem;
  font-size: 1.2rem;
  border: 1px solid #555;
  color: #000;
}

.loginSignup-signup-form option {
  font-size: 1.2rem;
}

.loginSignup-signup-form option:nth-child(1) {
  font-size: 1.2rem;
  color: #555;
  pointer-events: none;
}

.loginSignup-signup-form label {
  font-size: 1.3rem;
  color: #333;
}

.loginSignup-security-first-last {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 0.5fr;
}

.loginSignup-overlay.login {
  transform: translateX(0);
  border-left: 5px solid white;
  animation: fadeOutIn 2s ease-in-out;
}

.loginSignup-overlay.login video {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.loginSignup-overlay.signup {
  transform: translateX(-451px);
  border-right: 5px solid white;
  animation: fadeOutIn 2s ease-in-out;
}

.loginSignup-overlay video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(40%);
}

.signup-logo {
  position: absolute;
  top: 0.5%;
  left: 1%;
  color: #fff;
  cursor: pointer;
  font-size: 3.2rem;
  letter-spacing: 1px;
}

.loginSignup-signup-form .loginSignup-auth-btn {
  width: 12rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: #83f806;
  color: #fff;
  color: #000;
  cursor: pointer;
  font-size: 1.8rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.loginSignup-auth-btn:hover {
  transform: scale(1.05);
  background-color: #9cf938;
}

.loginSignup-auth-btn:active {
  transform: scale(0.95);
}

/* .login-form .error-message {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  text-align: center;
  color: red;
  font-size: 1.4rem;
}

.signup-form .error-message {
  position: absolute;
  top: 11%;
  left: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: red;
  font-size: 1.2rem;
}

.username-status-message {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.username-status-message.available {
  color: green;
}
 */

.loginSignup-error-message {
  color: #f44336; /* Red color for error messages */
  font-size: 1.2rem;
}

.loginSignup-error-message.login {
  color: #f44336; /* Red color for error messages */
  font-size: 1.4rem;
}

.loginSignup-error-message.signup-top {
  position: absolute;
  font-size: 1.4rem;
  color: red;
  top: 15%;
}

/* Username availability status */
.loginSignup-username-status {
  font-size: 1.2rem;
}

.loginSignup-username-status.available {
  color: #4caf50;
}

.loginSignup-username-status.unavailable {
  color: #f44336;
}

.loginSignup-password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.loginSignup-password-container input {
  width: 100%;
  padding-right: 60px;
}

.loginSignup-toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #333;
  font-size: 1rem;
}

.forgot-password {
  font-size: 14px;
  color: #444;
  margin-top: 2rem;
  margin-bottom: 15px;
  text-align: center;
}
