/* 0.8, 1.6, 2.4 ,3.2 ,4 ,4.8 ,5.6, 6.4, 7.2, 8*/

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

/* body {
  position: relative;
  font-size: 16px;
} */

.home-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  filter: brightness(70%);
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
  z-index: 2; /* Ensure header is above the video */
}

.home-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* flex-wrap: wrap; */
  padding: 1rem;
}

.heading {
  font-size: 3rem;
  color: white;
  letter-spacing: 0.5px;
  z-index: 1;
  line-height: 1;
  text-align: center;
}

.sub-heading {
  font-family: "Dancing Script", cursive;
  font-weight: 300;
  font-size: 1.5rem;
  color: #e0fccc;
  letter-spacing: 1.6px;
  z-index: 1;
  text-align: center;
}

.slogan {
  font-weight: 300;
  font-size: 0.875rem;
  /* 0.875 -> 14px */
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.8px;
}

.slogan span {
  font-size: 1.5rem;
  border-radius: 50%;
  color: #fff;
  font-weight: 600;
}

.home-hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  z-index: 1;
  flex-wrap: wrap;
}

.home-hero-btn {
  font-size: 1rem;
  font-weight: 400;
  border-radius: 4px;
  background-color: green;
  color: #fff;
  padding: 0.5rem 1.25rem;
  border: none;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.home-hero-btn:hover {
  background-color: darkgreen;
  transform: scale(1.01);
}

.home-hero-button-2 {
  background-color: rgba(255, 255, 255, 0.2);
  color: #e0fccc;
  color: #fff;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.home-hero-button-2:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.01);
}

.home-hero-button-2:active,
.home-hero-button-1:active {
  transform: scale(0.95);
}
