.reset-password-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.reset-password-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border: 1px solid #ccc;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  max-width: 350px;
  width: 80%;
  border-radius: 4px;
}

.reset-password-modal form {
  display: flex;
  flex-direction: column;
}

.reset-heading {
  text-align: center;
  font-size: 1.25rem;
  color: #333;
  font-weight: 400;
  margin-bottom: 3rem;
}

.reset-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.reset-group label {
  font-size: 0.75rem;
  color: #555;
}

.reset-group .password-wrapper {
  position: relative;
}

.reset-group input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.password-wrapper .toggle-password {
  position: absolute;
  top: 28%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  color: #555;
  font-size: 0.675rem; /* Adjusted to match the input font size */
}

/* Button row container */
.button-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 1rem;
}

/* Button styling */
.button-row button {
  width: 6rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: white;
  transition: all 0.3s ease;
}

.button-row .button-2 {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: white;
}

.button-row .button-1:hover {
  background-color: var(--hover);
  transform: scale(1.02);
}

.button-row .button-2:hover {
  background-color: #fff;
  color: var(--hover);
  transform: scale(1.02);
}

.button-row button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.reset-error-message,
.success-message {
  font-size: 0.625rem;
  position: absolute;
  top: 12%; /* Position at the top of the modal */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  width: 90%; /* Adjust the width as needed */
  text-align: center; /* Center the text */
  padding: 10px;
  border-radius: 5px;
  font-weight: 400;
  z-index: 1000; /* Ensure it appears above other content */
  max-width: 15rem;
}

.reset-error-message {
  color: var(--red-hover);
}

.success-message {
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  color: black;
  border: 1px solid var(--secondary-color);
}
