.postActions-header {
  background-color: white;
  border-bottom: 1px solid rgb(226, 223, 223);
}

.postActions-logo {
  color: black;
}

.postActions-nav a {
  color: black;
}

.postActions-signin {
  color: #fff;
}

.postActions-container .card-kebab-menu-container {
  display: none;
}

.postActions-container .no-posts-message {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #777;
  margin-top: 10rem;
}
