.footer {
  width: 100%;
  padding: 2rem;
  border-top: 1px solid #eee;
  font-size: 16px;
  margin-top: 6rem;
  bottom: 0px;
  background-color: #ffffffe0;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: space-around;
  gap: 1rem;
}

.footer__logo .logo {
  width: 9rem;
  margin-bottom: 1rem;
  padding-right: 0.5rem;
}

.footer__logo_col {
  object-fit: contain;
  margin-right: 1rem;
}

.footer__social-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.footer__social-icon {
  height: 1rem;
  width: 1rem;
}

.footer__copyright {
  font-size: 0.75rem;
  color: #767676;
  line-height: 1.6;
  margin-top: 1rem;
}

.footer__contacts {
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1.6;
  margin-right: 1rem;
}

.footer__address {
  font-size: 0.75rem;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.footer__heading {
  font-size: 0.75rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.footer__nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer__link:link,
.footer__link:visited {
  text-decoration: none;
  font-size: 0.75rem;
  color: var(--primary-color);
  transition: all 0.3s;
}

.footer__link:hover,
.footer__link:active {
  color: var(--primary-hover);
}

@media (max-width: 600px) {
  .footer__logo .logo {
    width: 8rem;
  }
}
