.profile-header {
  background-color: white;
  border-bottom: 1px solid rgb(226, 223, 223);
}

.profile-logo {
  color: black;
}

.profile-nav a {
  color: black;
}

.profile-signin {
  color: #fff;
}

.profile-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.profile-container .card-container .description {
  color: #555;
}

.profile-container .profile-details {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #00000013;
}

.profile-container .profile-image img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid white;
}

.profile-container .profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 0.05rem;
}

.profile-container .profile-info .username {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.profile-container .profile-info .name {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
}

.profile-container .profile-info .email {
  font-size: 1.3rem;
  color: #777;
}

.profile-container .profile-info .bio {
  font-size: 1.5rem;
  color: #555;
  margin: 0.8rem 0;
}

.profile-container .profile-info .role {
  color: #777;
  font-size: 1.2rem;
}

.profile-container .profile-info .joined {
  color: #999;
  font-size: 1.2rem;
}

.profile-container .posts-section {
  margin-top: 10px;
}

.profile-container .posts-section h2 {
  font-size: 20px;
  color: #999;
  font-weight: 500;
}

.profile-header-buttons {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.profile-header-buttons button {
  display: flex;
  gap: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 15rem;
}

.profile-header-buttons .reset-password-button {
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  color: green;
  border: 1px solid lightgrey;
}

.profile-header-buttons .profile-edit-button {
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  color: green;
  border: 1px solid lightgrey;
}

.profile-header-buttons .profile-delete-button {
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  color: darkred;
  border: 1px solid lightgrey;
}

.profile-header-buttons .reset-password-button:hover {
  border: 1px solid darkgreen;
  color: darkgreen;
}

/* .profile-edit-button {
  width: 3rem;
  height: 100%;
  border: 1px solid green;
  cursor: pointer;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  padding: 2px;
  fill: green;
}

.profile-delete-button {
  width: 3rem;
  height: 100%;
  border: 1px solid darkred;
  cursor: pointer;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  padding: 2px;
  fill: darkred;
} */

.profile-edit-button:hover {
  fill: darkgreen;
  border: 1px solid darkgreen;
}

.profile-delete-button:hover {
  fill: red;
  border: 1px solid red;
}

.profile-container .card-add-to-favorites {
  display: none;
}

.profile-container .card-location-button {
  right: 75px;
}

.profile-container .no-posts-message {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #777;
  margin-top: 10rem;
}

.profile-container .card-layout {
  margin-top: 0;
}
