@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: black;
  --primary-color: #6da300;
  --primary-hover: #5f8f00;
  --secondary-color: #e0fccc;
  --light-pink: #fde0e0;
  --red-color: #ad102a;
  --red-hover: #550b1b;
}

html {
  font-size: 16px;
}
