/* CSS for CardLayout Component */

/* Grid layout for cards */
.card-layout {
  margin: 3rem auto;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  justify-content: center;
}

/* Modal backdrop (black background) */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal content (centered in the viewport) */
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 900px;
  overflow-y: auto;
  position: relative;
  overflow-x: hidden;
  max-height: 80vh;
}

/* Close button style */
.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
}

/* Modal slider container */
.modal-slider {
  margin-bottom: 20px;
  max-height: 700px;
  border-radius: 10px;
}

/* Slider image style */
.modal-slider-image {
  width: 100%;
  /* height: auto; */
  object-fit: cover;
  border-radius: 10px;
}

/* Custom arrow styles */
.custom-prev-arrow,
.custom-next-arrow {
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
}

.custom-prev-arrow:hover,
.custom-next-arrow:hover {
  color: green;
}

.custom-prev-arrow:before,
.custom-next-arrow:before {
  font-size: 20px;
  color: #fff;
}

/* Arrow positioning */
.custom-prev-arrow {
  left: -50px;
}

.custom-next-arrow {
  right: -50px;
}

/* Custom dots for slider */
.card-custom-dot {
  width: 10px;
  height: 10px;
  background-color: #ddd;
  border-radius: 50%;
}

.card-custom-dots .slick-active .card-custom-dot {
  background-color: green;
}

.modal-content h2 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.modal-content p {
  margin-bottom: 1rem;
  font-size: 2rem;
}
